<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SBTM Web Application!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <section id="wrapper">

        {% block wrapper %}{% endblock %}
        <section class="datapanel">
        {% block datapanel %}{% endblock %}
    </section>

    <div id="container">
        <section class="leftside">
        {% block leftside %}{% endblock %}
    </section>
    <section class="rightside">
    {% block rightside %}{% endblock %}
</section>
</div>

<div id="footer">
    {% block footer %}
        SBTM web application - created by Ian Phillips
    {% endblock %}
</div>
</section>
{% block javascripts %}{% endblock %}

</body>
</html>
