{# src/Sbtmapp/SbtmBundle/Resources/views/Page/index.html.twig #}
{% extends 'SbtmappSbtmBundle::layout.html.twig' %}

{% block datapanel %}

    <h1>Session To Do</h1>
    
    <table id="summary">
        <tr>
            <th>Session Name</th>
            <th>Updated</th>
        <tr>
        <tr class="alt">
            <td> Total number of Sessions </td><td> TBA  </td>
        </tr>
        <tr >
            <td> Total number of  active sessions </td><td> TBA </td>
        </tr>
          <tr class="alt">
        <td>Total number of Projects  </td><td> TBA  </td>
          </tr>
        <tr>
            <td>Total number of Active Project </td><td> TBA  </td>
        </tr>
    </table>

{% endblock %}